ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.sm{
    display: none;
}

@media(max-width:780px){
    .lg{
        display: none;
    }

    .sm{
        display: block;
    }
}